@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './typograhy.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: #f2f5fb;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.w-100{
  width: 100%;
}

.p-7{
  padding: 7px;
}
.mb-0{
  margin-bottom: 0px;
}

.mt-25{
  margin-top: 25px;
}
.mt-30{
  margin-top: 30px;
}
.mt-10{
  margin-top: 10px;
}
.m-30{
  margin: 30px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.pl-20{
  padding-left:20px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-10{
  padding-bottom: 10px;
}
.pt-10{
  padding-top: 10px;
}
.py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-20{
  padding: 20px;
}
.mt-25{
  margin-top: 25px;
}
.mt-30{
  margin-top: 30px;
}
.px-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pb-3{
padding-bottom: 30px;
}


.font-14{
  font-size: 14px;
}
 
.pt-20{
  padding-top:20px;
}
.pl-15{
  padding-left: 15px;
}
.px-5{
  padding: 0 5px;
}
.px-20{
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.big-round{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

div.square {
  border-radius: 3px;
  width: 24px;
  height: 14px;
}
  

.vertical-middle{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rotate-90{
  transform: rotate(90deg);
}

.el-button--primary {
  color: #FFF;
  background-color: #28a5e0;
  border-color: #28a5e0;
}
.el-button--primary:hover,.el-button--primary:active,.el-button--primary:focus{
  border-color: #32aee8;
  background-color: #32aee8;
}
.el-tabs__item.is-active {
  color: #32aee8;
}
.el-tabs__item:hover {
  color: #32aee8;
}
.el-tabs__active-bar {
  background-color: #32aee8;
}
.dark-btn{
  border-color: #304257;
  background-color: #304257;
}
.dark-btn:hover,.dark-btn:active,.dark-btn:focus{
  border-color: #35475c;
  background-color: #35475c;
}
.green-btn{
  border-color: #34bfa3;
  background-color: #34bfa3;
}
.green-btn:hover,.green-btn:active,.green-btn:focus{
  border-color: #3ec8ac;
  background-color: #3ec8ac;
}
.blue-btn{
  border-color: #28a5e0;
  background-color: #28a5e0;
}
.blue-btn:hover,.blue-btn:active,.blue-btn:focus{
  border-color: #32aee8;
  background-color: #32aee8;
}
.violet-btn{
  border-color: rgb(182, 162, 222);
  background-color: rgb(182, 162, 222);
}
.violet-btn:hover,.violet-btn:active,.violet-btn:focus{
  border-color: rgb(196, 180, 228);
  background-color: rgb(196, 180, 228);
}
.orange-btn{
  border-color: #ffb880;
  background-color: #ffb880;
}
.orange-btn:hover,.orange-btn:active,.orange-btn:focus{
  border-color: #ffc496;
  background-color: #ffc496;
}

.red-btn{
  border-color: #d47980;
  background-color: #d47980;
}
.red-btn:hover,.red-btn:active,.red-btn:focus{
  border-color: #e48990;
  background-color: #e48990;
}
.el-table {
  font-size: 12px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #28a5e0;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #28a5e0;
}
.cell a{
  color: #28a5e0;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #28a5e0;
  border-color: #28a5e0;
}
div:focus {
  outline: none;
}

.map-table-icon{
  width: 16px;
  cursor: pointer;
}
.el-table td, .el-table th {
    padding: 12px 0;
}
.el-select{
  width: 100%;
}

.el-form-item {
  margin-bottom: 10px;
}
.el-form-item__label{
  color: #97a8be;
  line-height: 2em;
}

.bg-color-grey{
  background-color: #e3e3e3;
}

.bg-color-blue{
  background-color: rgb(92, 174, 230);
}

.bg-color-yellow{
  background-color: #ffb880;
}

.bg-color-green{
  background-color: #34bfa3;
}
.bg-color-red{
  background-color: #d47980;
}

.pagination-container{
  margin-top: 30px;
  border-radius: 5px;
}
.no-data-info{
  text-align: center;
  color: #d9d9d9;
  font-weight: 500;
  padding: 0 20px;
  font-size: 14px;
}

/*map*/

.map-container{
  overflow: hidden;
  width: 100%;
  height: 439px;
  /*height: 373px;*/
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.el-dialog__title{
  color: #606268;
  font-weight: 600;
  font-size: 14px;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #909399;
  font-weight: bold;
  font-size: 14px;
}

.location-table{
  width: 100%;
  background-color:#ffffff;
  box-shadow: none;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.location-table td{
  background-color: initial !important;
}
.el-table td, .el-table th {
  padding: 7px 0;
  font-size: 12px;
}
.location-table td, .location-table th {
  padding: 10px 0 !important;
}
.location-table td .cell, .modal-info-table td .cell{
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}
.leaflet-control-zoom, .leaflet-control-attribution{
  display: none;
}
.card-panel-right {
  text-align: right;
}

.bg-blue .el-dialog {
  background-color: #f2f5fb !important;
}

/*map end*/

.el-button{
  overflow: inherit !important;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
//fix for correct displaying of rows with row type flex
.el-row--flex{
  flex-wrap: wrap;
}
// main-container global css

.page-fixed-height{
  position: relative;
  height: calc(100vh - #{$navbarHeight});
  width: 100%;
}
.panel{
  height: calc(100vh - #{$navbarHeight});
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0 transparent;
  width: $panelWidth!important;

  transition: all .3s;
  &.panel-right{

  }
}



.with-panel-wrapper{
  position: relative;
  height: calc(100vh - #{$navbarHeight});
  width: 100%;

  &.panel-opened{
    .el-container{
      margin-right: $panelWidth;
    }
    .panel.panel-right{
      right: 0;

    }
    .panel{
      .panel-open{
        display: none!important;
      }
    }
  }
  .el-container{
    margin-right: calc(#{$baseMargin} * 2);
  }

  .panel{
    width: $panelWidth;
    height: 100%;
    position: absolute;
    z-index: 999;
    right: calc( 0px - calc(#{$panelWidth} - calc(#{$baseMargin} * 2)));
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9.8px 0.2px rgba(151, 164, 193, 0.2);

    transition: all .3s;

    .panel-hide{
      cursor: pointer;
    }
    .panel-open{
      display: block;
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 11;
      background: rgba(255,255,255, .7);
      cursor: pointer;
    }

    .panel-container{
      height: calc(100% - #{$panelToolbarHeight});
      position: relative;
      font-size: 14px;
      overflow: auto;
    }
    .panel-toolbar{
      width: 100%;
      position: absolute;
      margin: 0;
      z-index: 10;
      box-sizing: border-box;
      left: 0;
      height: $panelToolbarHeight;
      background: $panelColor;

      &.panel-toolbar-bottom{
        bottom: 0;
        top: auto;

        &:before {
          content: "";
          position: absolute;
          background-color: $baseDividerColor;
          display: block;
          z-index: 15;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          height: 1px;
          width: 100%;
          transform-origin: 50% 0;
          transform: scaleY(calc(1/var(--f7-device-pixel-ratio)));
        }
      }
      &.panel-toolbar-top{
        top: 0;
        bottom: auto;

        &:before {
          content: "";
          position: absolute;
          background-color: $baseDividerColor;
          display: block;
          z-index: 15;
          top: auto;
          right: auto;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          transform-origin: 50% 0;
          transform: scaleY(calc(1/var(--f7-device-pixel-ratio)));
        }
      }
    }
   /* .panel-toolbar.panel-toolbar-bottom+.panel-container{
      padding-bottom: $panelToolbarHeight;
    }
    .panel-toolbar.panel-toolbar-top+.panel-container{
      padding-top: $panelToolbarHeight;
    }*/
  }
}


.app-container {
  padding: 20px 0;
  transition: all .3s;
}
.content-divider{
  width: 100%;
  height: 1px;
  background: $baseDividerColor;
}
.block{
  background-color: #fff;
  border-radius: $baseBorderRadius;
  box-shadow: $baseBoxShadow;
}


.filter-container{
  padding: 0 $basePadding;
}
.el-button{
  i{
    font-size: 16px;
  }
}
.buttons-row{

  .el-button,
  .el-switch,
  .el-checkbox{
    margin-bottom: $baseMargin*2;
    margin-left: $baseMargin;
    margin-right: $baseMargin;

    i{
      color: $themeColor;
    }
    &--primary{
      i{
        color: #fff;
      }
    }
    &__label{
      color: #606266!important;
    }
  }
  .el-switch{
    vertical-align: sub;
  }
}
.form-padding{
  padding: 0 $basePadding;
}
.table-wrapper{
  padding: 0 $basePadding*2;
}

.el-dialog{
  max-width: 800px;
  margin-bottom: $baseMargin*4;
}
.el-dialog.is-fullscreen{
  max-width: initial;
}
.button-custom{
  border: none;
  border-radius: $baseButtonBorderRadius;
  box-shadow: $baseButtonBoxShadow;

}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: transparent;
}

.border-bottom{
  border-bottom: 1px solid #e3e3e3;
}

.bg-white .el-dialog {
  background-color: #ffffff !important;
}
.bg-blue .el-dialog {
  background-color: #f2f5fb !important;
}
.bg-white .el-dialog__header{
  border-bottom: 0px solid #e3e3e3;
}
.bg-white .footer-border .el-card__body{
  border-bottom: 0px solid #ebeef5;
  /*margin-bottom: 100px;*/
  padding-bottom: 10px;
}

.el-dialog__body {
  padding: 10px 20px 20px 20px;
}

.el-dialog__title{
  color: #606268;
  font-weight: 600;
  font-size: 14px;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #909399;
  font-weight: bold;
  font-size: 14px;
}
.location-table{
  width: 100%;
  background-color:#ffffff;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.bold {
  font-weight: 600;
}
.font-14{
  font-size: 14px;
}

.d-flex{
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex{
  display: flex;
}

.align-center{
  text-align: center;
}

.el-aside {
  overflow: hidden;
}
.sms-page .el-aside {
  overflow: auto;
}

.pointer{
  cursor: pointer;
}

.bold {
  font-weight: 600;
}

.color-grey{
  color: #606266;
}

.font-12{
  font-size: 12px;
}

.el-table{
  width: 100%;
  border-radius: $baseButtonBorderRadius;
  box-shadow: $baseButtonBoxShadow;
}

.el-form-item__label{
  color: $labelColor;
  font-size: $labelSize;
  font-weight: normal;

}
.el-checkbox__label{
  white-space: normal;
  vertical-align: middle;
}
.el-form--label-top{
  .el-form-item__label{
    padding-bottom: 0;
  }
}

.rag{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}


.label-span{
  color: #9a9a9a;
  font-size: 12px;
}
@media only screen and (max-width: 576px) {
  .el-dialog{
    width: 100%;
    margin-top: 0!important;
  }
}

@media only screen and (min-width: 577px) {
  .el-dialog{
    width: 80%;
  }
}

@media only screen and (min-width: 769px) {

}

@media only screen and (min-width: 993px) {

}


@media (min-width: 768px){
  .lg-pr-0{
    padding-right: 0 !important;
  }
  .lg-pl-0{
    padding-left: 0 !important;
  }
  .lg-card-flex{
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}